---
import Layout from '../layouts/Layout.astro';
import PasapalabraGame from '../components/PasapalabraGame.svelte';
import '../styles/global.css';
---

<Layout>
	<main class="flex min-h-screen w-full flex-col items-center justify-center overflow-x-hidden">
		<PasapalabraGame client:load />
	</main>
</Layout>
